<div id="personal-data" class="grid">

  <form name="personalData">
    <fieldset>
      <legend>Personal Data</legend>

      <div class="input-line">
        <label class="grid__col grid__col--am grid__col--2-of-5">First Name:</label>
        <div class="grid__col grid__col--3-of-5">
          <input type="text" name="firstName" value="{{{firstName}}}" pattern="^[а-яА-ЯёЁa-zA-Z]+$"/>
          <span class="error hidden"></span>
        </div>
      </div>

      <div class="input-line">
        <label class="grid__col grid__col--am grid__col--2-of-5">Last Name:</label>
        <div class="grid__col grid__col--3-of-5">
          <input type="text" name="lastName" value="{{{lastName}}}" pattern="^[а-яА-ЯёЁa-zA-Z]+$"/>
          <span class="error hidden"></span>
        </div>
      </div>

      <div class="input-line">
        <label class="grid__col grid__col--am grid__col--2-of-5">DOB:</label>
        <div class="grid__col grid__col--3-of-5">
          <input type="date" name="dob" value="{{{dob}}}"/> {{! This should be polifilled with some custom datepicker or masked edit }}
          <span class="error hidden"></span>
        </div>
      </div>

      <div class="grid__col grid__col--3-of-5 grid__col--push-2-of-5">
        <button type="button" name="save" class="primary-btn">Next Step</button>
      </div>
    </fieldset>
  </form>

</div>
