body {
    background: #fafafa;
    font-family: 'Times New Roman', Times, serif;
}

.hidden {
  display: none;
}

input.error, input:invalid {
  outline-offset: -2px;
  outline: red auto 5px;
}

span.error {
  color: red;
  font-size: 12px;
}

.wrap {
  width: 400px;
  margin: 0 auto;
}

.input-line {
  margin-bottom: 20px;
}

.input-line label {
  text-align: right;
}

.primary-btn, input[type=text], input[type=date] {
  width: 100%;
}
